<!DOCTYPE html>
<html>
<head>
<title>MOBASERY LIBRARY</title>
<style type="text/css">
  body {
    background-color: rgb(252, 248, 248);}  
  h1 {
      text-align: center;
      color:rgb(228, 96, 96);} 
  h2 {
      text-align: center;
  } 
  h3 {
      text-align: center;
      color:blue
  }
  h4 {
      text-align: center;
  } 
    ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     height: 100%; 
     width: 20%; 
     position: fixed;
     background-color: rgb(166, 216, 223);}
</style>
</head>
<body>
    <div >
         <ul>
            <h2><b>Navigation pane</b></h2>
            <li> <a href="home.html">Homepage</a></li><br />
            <li><a href="books.html">Books</a></li><br />    
         </ul>
         
    </div>    
    <h1>MOBASSERY LIBRARY</h1>
    <h2> Book Details</h2>
    <h3><img src="../public/images/book3.png"  width="150" height="150" /><br />
    The Giving Tree <br /></h3>
    <h4>Author: Shel Silverstein<br />
        Original language: English<br />
        Genres: Picture book, Children's literature, Fiction<br />
        Nominations: Kids’ Choice Award for Favorite Book<br />
    Published:October 7,1964<br /></h4>
    
</body>
</html>