<!DOCTYPE html>
<html>
<head>
<title>MOBASERY LIBRARY</title>
<style type="text/css">
  body {
    background-color: rgb(252, 248, 248);}  
  h1 {
      text-align: center;
      color:rgb(228, 96, 96);} 
  h2 {
      text-align: center;
  } 
  h3 {
      text-align: center;
      color:blue
  }
  h4 {
      text-align: center;
  } 
    ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     height: 100%; 
     width: 20%; 
     position: fixed;
     background-color: rgb(166, 216, 223);}
</style>
<body>
    <div >
         <ul>
            <h2><b>Navigation pane</b></h2>
            <li> <a href="home.html">Homepage</a></li><br />
            <li><a href="books.html">Books</a></li><br />    
         </ul>
         
    </div>    
    <h1>MOBASSERY LIBRARY</h1>
    <h2> Book List</h2>
    <h3><a href="book1.html"><img src="../public/images/book1.png"  width="150" height="150" /></a><a href="book1.html">You are my Happy </a><br /></h3>
    <h3><a href="book2.html"><img src="../public/images/book2.png"  width="150" height="150" /></a><a href="book2.html">New Kid</a><br /></h3>
    <h3><a href="book3.html"><img src="../public/images/book3.png"  width="150" height="150" /></a><a href="book3.html">The Giving Tree</a></h3>

</body>
</html>