<!DOCTYPE html>
<html>
<head>
<title>MOBASERY LIBRARY</title>
<style type="text/css">
  body {
    background-color: rgb(252, 248, 248);}  
  h1 {
      text-align: center;
      color:rgb(228, 96, 96);} 
  h2 {
      text-align: center;
  } 
  h3 {
      text-align: center;
      color:blue
  }
  h4 {
      text-align: center;
  } 
    ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     height: 100%; 
     width: 20%; 
     position: fixed;
     background-color: rgb(166, 216, 223);}
   img {
     margin-left: 300px;
   }
</style>
</head>
<body>
    <div >
         <ul>
            <h2><b>Navigation pane</b></h2>
            <li> <a href="home.html">Homepage</a></li><br />
            <li><a href="books.html">Books</a></li><br />    
         </ul>
         
    </div>    
    <h1>MOBASSERY LIBRARY</h1>
    <h2> Welcome to the Library. For more details see the navigation bar</h2>
    <img src="../public/images/index.png"  width="600" height="450" />
</body>
</html>